body {
    font-family: Arial, sans-serif; /* Escolhe a fonte da página */
    margin: 0; /* Remove as margens padrões */
    padding: 0; /* Remove o padding padrão */
}

header {
    display: grid;
    grid-template-columns: repeat(10, 2fr);
    grid-template-rows: 5px 10px 15px 20px 15px;
    background-color: #ffffff; /* Cor de fundo do cabeçalho */
    color: rgb(0, 0, 0); /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto ao centro */
    gap: 10px;
}

header h1 {
    grid-row: 1;
    font-size: small;
}

#campoBusca{
    grid-row: 3;
    grid-column: 5;
    padding: 10px;
}

#lupa{
    grid-column: 4;
    grid-row: 3;
}

#btnCarrinho{
    grid-row: 1;
    grid-column: 10;
}

button {
    padding: 5px 8px; /* Tamanho do botão */
    background-color: #ffffff; /* Cor do fundo do botão */
    color: rgb(0, 0, 0); /* Cor do texto */
    border: none; /* Remove a borda */
    cursor: pointer; /* Altera o cursor para "mãozinha" */
    grid-row: 5;
}

button:hover {
    text-decoration: underline; /*Mudar de cor quando passar o mouse em cima do botão*/
    color: red;
}

button:disabled {
    background-color: gray; /* Cor do botão quando estiver desabilitado */
}

#produtos-container {
    display: grid; /* Usando grid para organizar os produtos */
    grid-template-columns: repeat(3, 1fr); /* Dividindo a tela em 3 colunas */
    gap: 10px; /* Espaço entre os itens */
    padding: 20px; /* Adiciona um padding (espaço interno) */
}

.produto {      
    border: 1px solid #ddd; /* Borda suave ao redor do produto */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto ao centro */
    background-color: #f9f9f9; /* Cor de fundo */
    transition: transform 0.3s ease; /* Adiciona uma transição suave ao passar o mouse */
}

.produto:hover {
    transform: scale(1.05); /* Quando o mouse passa por cima, aumenta um pouco o tamanho */
}

.produto img {
    width: 100%; /* Faz a imagem ocupar toda a largura da div */
    height: auto; /* Mantém a proporção da imagem */
}

#button-produto:hover {
    background-color: rgb(122, 122, 122);
    text-decoration: none;
    border-radius: 50px;
    color: #ddd;
}

#button-produto{
    background-color: #ddd;
    border-radius: 50px;
    color: black;
}

#carrinho-container{
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    width: 300px;
    background-color: #f9f9f9;
}

#itens-carrinho {
    list-style: none;
    padding: 0;
}

.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 320px;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }

  .carrinho{
    background-color: #ffffff;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    color: #333;
  }

  .carrinho:hover {
    text-decoration: none;
    background-color: #e4e1e1;
    color: black;
  }

  #carrinho-total{
    font-weight: bold;
    font-family: tahoma;
  }

  #titulo-carrinho{
    font-family: tahoma;
  }

  #botao-produto-carrinho{
    background-color: #f9f9f9;
  }

  #botao-produto-carrinho:hover{
    text-decoration: none;
  }

  #fechar-modal{
    margin-top: 20px;
  }

  #fechar-modal:hover{
    font-family: tahoma;
    text-decoration: none;
    background-color: #e4e1e1;
    color: black;
    width: 60px;
    height: 30px;
    border-radius: 15%;
  }